:root {
    --hd: #f99a9c;
    --hn: #fdbccf;
    --hic: #ff8b77;
    --hbt: #ffaaaf;
    --tim: #D3C0F9;
    --XANHLA: #71fcd2;
    --XANHLANHAT: #B5DDD1;
    --hbr: #fee3ea;
    --xam: #B3A6A6;
}

.test {
    color: #211E1E;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

html {
    font-family: "UTM Facebook K&T";
    box-sizing: border-box;
}

.conten {
    margin: auto;
    height: 736px;
    width: 414px;
    background-color: var(--hbr);
    border-radius: 20px;
    border-style: groove;
    border-color: var(--xam);
    position: relative;
}

.header {
    height: 55px;
    width: 407px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
}

.header-list {
    list-style: none;
}

.header-icon-link {
    color: #838d8f
}

.header-item,
.header-icon-link :hover {
    cursor: pointer;
    color: #211E1E(255, 255, 255);
}

.header-icon {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.footer {
    height: 45px;
    width: 408px;
    border-style: solid none none none;
    border-width: 3px;
    border-color: #fff;
    box-shadow: -0px -3px 3px var(--xam);
    position: absolute;
    bottom: 0px;
}

.footer-list {
    list-style: none;
    display: flex;
    margin: 0px auto;
}

.footer-icon-link {
    color: var(--hic);
}

.footer-item,
.footer-icon-link :hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.footer-icon {
    margin-top: 3px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 35px;
}

#hDOption .updateProfile {
    position: relative;
    width: 350px;
    font-size: 40px;
    float: right;
    font-family: "UTM Facebook K&T";
    font-weight: bold;
    color: #B3A6A6;
    margin-top: -75px;
}

.tên {
    font-size: 20px;
    font-weight: bold;
    font-family: "UTM Facebook K&T";
    color: #B3A6A6;
    width: 35px;
    margin-left: 5px;
    margin-top: 20px;
}

.tênInput {
    width: 384px;
    margin-left: 5px;
    height: 45px;
    border-radius: 10px;
    background-color: #F1F1F1;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 20px;
    font-family: Arial, "Arial Black", "Arial Narrow", Bahnschrift, "Bahnschrift Condensed", "Bahnschrift Light", "Bahnschrift Light Condensed", "Bahnschrift Light SemiCondensed", "Bahnschrift SemiBold", "Bahnschrift SemiBold Condensed", "Bahnschrift SemiCondensed", "Bahnschrift SemiLight", "Bahnschrift SemiLight Condensed", "Bahnschrift SemiLight SemiConde", "BIZ UDGothic", "BIZ UDMincho Medium", "BIZ UDPGothic", "BIZ UDPMincho Medium", "Book Antiqua", "Bookman Old Style", Calibri, "Calibri Light", Cambria, "Cambria Math", Candara, "Candara Light", Century, "Century Gothic", "Comic Sans MS", Consolas, Constantia, Corbel, "Corbel Light", Courier, "Courier New", Dosis, Dubai, "Dubai Light", "Dubai Medium", Ebrima, Fixedsys, "Franklin Gothic Medium", Gabriola, Gadugi, Garamond, Georgia, HolidayFree, "HoloLens MDL2 Assets", "HP Simplified", "HP Simplified Light", Impact, "Ink Free", "Javanese Text", Lato, "Lato Black", Leelawadee, "Leelawadee UI", "Leelawadee UI Semilight", "Lucida Console", "Lucida Sans Unicode", "Malgun Gothic", "Malgun Gothic Semilight", Meiryo, "Meiryo UI", "Microsoft Himalaya", "Microsoft JhengHei", "Microsoft JhengHei Light", "Microsoft JhengHei UI", "Microsoft JhengHei UI Light", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur", "Microsoft YaHei", "Microsoft YaHei Light", "Microsoft YaHei UI", "Microsoft YaHei UI Light", "Microsoft Yi Baiti", "MingLiU_HKSCS-ExtB", MingLiU-ExtB, "Mongolian Baiti", Montserrat, "Monument Extended", "Monument Extended Ultrabold", "MS Gothic", "MS Mincho", "MS PGothic", "MS PMincho", "MS Reference Sans Serif", "MS Sans Serif", "MS Serif", "MS UI Gothic", "MV Boli", "Myanmar Text", "Nirmala UI", "Nirmala UI Semilight", NSimSun, Oswald, "Palatino Linotype", PMingLiU-ExtB, "Segoe MDL2 Assets", "Segoe Print", "Segoe Script", "Segoe UI", "Segoe UI Black", "Segoe UI Emoji", "Segoe UI Historic", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Semilight", "Segoe UI Symbol", SimSun, SimSun-ExtB, "Sitka Banner", "Sitka Display", "Sitka Heading", "Sitka Small", "Sitka Subheading", "Sitka Text", "Small Fonts", "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold", "Source Sans Pro", "Source Sans Pro Black", "Source Sans Pro Semibold", Sylfaen, System, Tahoma, "Times New Roman", "Trebuchet MS", "UTM A&S Graceland", "UTM A&S Heartbeat", "UTM A&S Signwriter", "UTM Agin", "UTM Aircona", "UTM Akashi", "UTM Alba Matter", "UTM Alberta Heavy", "UTM Alexander", "UTM Alpine KT", "UTM Alter Gothic", "UTM Ambrose", "UTM Ambrosia", "UTM American Sans", "UTM Americana", "UTM Americana EB", "UTM Amerika Sans", "UTM Amherst", "UTM Androgyne", "UTM Aptima", "UTM Aquarelle", "UTM Aristote", "UTM Arruba KT", "UTM Atlas", "UTM Aurora", "UTM Avenida", "UTM Avo", "UTM Azuki", "UTM Banque", "UTM Beautiful Caps", "UTM Bebas", "UTM Bell", "UTM Bienvenue", "UTM Billhead 1910", "UTM Bitsumishi Pro", "UTM Brewers KT", "UTM Brushtip-C", "UTM BryantLG", "UTM Bustamalaka", "UTM Cabaret", "UTM Cafeta", "UTM Camellia", "UTM Camellia F", "UTM Candombe", "UTM Caviar", "UTM Centur", "UTM Charlemagne", "UTM Charlotte", "UTM Chickenhawk", "UTM ClassizismAntiqua", "UTM Colossalis", "UTM Conestoga", "UTM Cookies", "UTM Cool Blue", "UTM Cooper Black", "UTM Copperplate", "UTM Dai Co Viet", "UTM Davida", "UTM Daxline", "UTM Daxline Medium", "UTM Demian KT", "UTM Deutsch Gothic", "UTM Diana", "UTM Dinh Tran", "UTM Duepuntozero", "UTM Edwardian", "UTM Eremitage", "UTM Ericsson Capital", "UTM Erie Black", "UTM Essendine Caps", "UTM Facebook", "UTM Facebook K&T", "UTM Faltura", "UTM Fancy Full", "UTM Fire House", "UTM Flamenco", "UTM Flavour", "UTM Fleur", "UTM French Vanilla", "UTM Futura Extra", "UTM Gill Sans KT", "UTM Gille Classic", "UTM Gloria", UTM God 's Word, "UTM Gradoo", "UTM Guanine", "UTM Habano", "UTM Hanzel", "UTM Helve", "UTM HelvetIns", "UTM Impact", "UTM Iron Gothic", "UTM Isadora", "UTM Karate", "UTM Khuccamta", "UTM Kona KT", "UTM Libel KT", "UTM LinotypeZapfino KT", "UTM Loko", "UTM Mabella", "UTM Magnesium", "UTM Marlboro", "UTM Micra", "UTM Mobifone KT", "UTM Mother", "UTM Neo Sans Intel", "UTM Netmuc KT", "UTM Neutra", "UTM NguyenHa 01", "UTM NguyenHa 02", "UTM Niagara", "UTM Nokia", "UTM Nokia Standard", "UTM Novido", "UTM Nyala", "UTM Omni", "UTM Ong Do Gia", "UTM Ong Do Tre", "UTM Pacific Standard", "UTM Penumbra", "UTM Pierre", "UTM Raven", "UTM Rockwell", "UTM Roman Classic", "UTM Sarah", "UTM Scriptina KT", "UTM Seagull", "UTM Sharnay", "UTM Showcard", "UTM Silk Script", "UTM Sloop 1", "UTM Soraya", "UTM Spring", "UTM Staccato", "UTM Swiss 721 Black Condensed", "UTM Swashes", "UTM Swiss Condensed", "UTM Talling", "UTM Tam Le", "UTM Than Chien Tranh", "UTM Thanh Nhac TL", "UTM ThuPhap Thien An", "UTM Times", "UTM Trajan Pro Bold", "UTM ViceroyJF", "UTM Wedding K&T", "UTM Windsor BT", "UTM Yen Tu", "UTM Yves KT", "UTM Zebrawood", "UTM Zirkon", Verdana, "Yu Gothic", "Yu Gothic Light", "Yu Gothic Medium", "Yu Gothic UI", "Yu Gothic UI Light", "Yu Gothic UI Semibold", "Yu Gothic UI Semilight", "Yu Mincho", "Yu Mincho Demibold", "Yu Mincho Light", "TeamViewer15", "Bookshelf Symbol 7", Marlett, "MS Reference Specialty", "MT Extra", Symbol, Webdings, Wingdings, "Wingdings 2", "Wingdings 3", "UD Digi Kyokasho N-B", "UD Digi Kyokasho NK-B", "UD Digi Kyokasho NK-R", "UD Digi Kyokasho NP-B", "UD Digi Kyokasho NP-R", "UD Digi Kyokasho N-R", "8514oem", Modern, Roman, Script, Terminal, cursive, fantasy, monospace, sans-serif, serif
 's Word, "UTM Gradoo", "UTM Guanine", "UTM Habano", "UTM Hanzel", "UTM Helve", "UTM HelvetIns", "UTM Impact", "UTM Iron Gothic", "UTM Isadora", "UTM Karate", "UTM Khuccamta", "UTM Kona KT", "UTM Libel KT", "UTM LinotypeZapfino KT", "UTM Loko", "UTM Mabella", "UTM Magnesium", "UTM Marlboro", "UTM Micra", "UTM Mobifone KT", "UTM Mother", "UTM Neo Sans Intel", "UTM Netmuc KT", "UTM Neutra", "UTM NguyenHa 01", "UTM NguyenHa 02", "UTM Niagara", "UTM Nokia", "UTM Nokia Standard", "UTM Novido", "UTM Nyala", "UTM Omni", "UTM Ong Do Gia", "UTM Ong Do Tre", "UTM Pacific Standard", "UTM Penumbra", "UTM Pierre", "UTM Raven", "UTM Rockwell", "UTM Roman Classic", "UTM Sarah", "UTM Scriptina KT", "UTM Seagull", "UTM Sharnay", "UTM Showcard", "UTM Silk Script", "UTM Sloop 1", "UTM Soraya", "UTM Spring", "UTM Staccato", "UTM Swiss 721 Black Condensed", "UTM Swashes", "UTM Swiss Condensed", "UTM Talling", "UTM Tam Le", "UTM Than Chien Tranh", "UTM Thanh Nhac TL", "UTM ThuPhap Thien An", "UTM Times", "UTM Trajan Pro Bold", "UTM ViceroyJF", "UTM Wedding K&T", "UTM Windsor BT", "UTM Yen Tu", "UTM Yves KT", "UTM Zebrawood", "UTM Zirkon", Verdana, "Yu Gothic", "Yu Gothic Light", "Yu Gothic Medium", "Yu Gothic UI", "Yu Gothic UI Light", "Yu Gothic UI Semibold", "Yu Gothic UI Semilight", "Yu Mincho", "Yu Mincho Demibold", "Yu Mincho Light", "TeamViewer15", "Bookshelf Symbol 7", Marlett, "MS Reference Specialty", "MT Extra", Symbol, Webdings, Wingdings, "Wingdings 2", "Wingdings 3", "UD Digi Kyokasho N-B", "UD Digi Kyokasho NK-B", "UD Digi Kyokasho NK-R", "UD Digi Kyokasho NP-B", "UD Digi Kyokasho NP-R", "UD Digi Kyokasho N-R", "8514oem", Modern, Roman, Script, Terminal, cursive, fantasy, monospace, sans-serif, serif;

}

.email {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "UTM Facebook K&T";
    color: #B3A6A6;
    width: 50px;
    margin-left: 15px;
}

.emailInput {
    width: 384px;
    margin-left: 5px;
    border-radius: 10px;
    height: 45px;
    background-color: #F1F1F1;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 20px;
    padding-left: 10px;
}

.sDT {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "UTM Facebook K&T";
    color: #B3A6A6;
    width: 120px;
    margin-left: 15px;
}

.sDTInput {
    width: 384px;
    margin-left: 5px;
    border-radius: 10px;
    height: 45px;
    background-color: #F1F1F1;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 20px;
    padding-left: 10px;
}

.dateOfBirth {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "UTM Facebook K&T";
    color: #B3A6A6;
    width: 120px;
    margin-left: 15px;
}

#birthday {
    width: 384px;
    border-radius: 10px;
    margin-left: 5px;
    height: 45px;
    background-color: #F1F1F1;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 20px;
    padding-left: 10px;
}

.gender {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "UTM Facebook K&T";
    color: #B3A6A6;
    width: 120px;
    margin-left: 15px;
}

.genderForm #nam {
    position: absolute;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.genderForm .labe1 {
    position: absolute;
    float: left;
    margin-left: 40px;
    font-size: 25px;
}

.genderForm #nu {
    position: absolute;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
}

.genderForm .labe2 {
    position: absolute;
    float: left;
    margin-left: 40px;
    margin-top: 23px;
    font-size: 25px;
}

.genderForm #khac {
    position: absolute;
    float: left;
    margin-left: 15px;
    margin-top: 55px;
}

.genderForm .labe3 {
    position: absolute;
    float: left;
    margin-left: 40px;
    margin-top: 45px;
    font-size: 25px;
}

.saveForm {
    position: fixed;
    margin-top: 120px;
    margin-left: 35px;
}

.saveForm .saveInput {
    background-color: var(--hbt);
    color: #FFFFFF;
    font-size: 30px;
    width: 350px;
    height: 45px;
    border-radius: 20px;
}