:root {
    --xd: #2BB6D5;
    --xam: #B3A6A6;
    --den: #211E1E;
    --tim: #9b59b6;
    --hd: #f99a9c;
    --hn: #fdbccf;
    --hic: #ff8b77;
    --hbt: #ffaaaf;
}

.test {
    color: #211E1E;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
    font-family: "UTM Facebook K&T";
    box-sizing: border-box;
}

.conten {
    margin: auto;
    height: 736px;
    width: 414px;
    background-color: #fee3ea;
    border-radius: 20px;
    border-style: groove;
    position: relative;
}

img {
    margin-top: 0px;
    border-radius: 15px 15px 0 0;
}

.miho {
    margin-left: 50px;
}

h1 {
    margin-top: 30px;
    margin-left: 7px;
    font-size: 40px;
    color: var(--den)
}

.tren {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 22px;
    color: var(--den)
}

button {
    font-size: 30px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 60px;
    padding: 10px 80px 8px 80px;
    background-color: var(--hbt);
    color: #ffffff;
}

.button :hover {
    cursor: pointer;
    color: #211E1E(255, 255, 255);
}

.cicon {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    background-color: var(--hbt);
    font-size: 40px;
    padding: 15px;
    border-radius: 50%;
    color: #ffffff;
}